/* CSS declarations go here */
@font-face {
  font-family: "raleway";
  src: url("/fonts/raleway_thin-webfont.eot");
  src: local("☺"),
    url("/fonts/raleway_thin-webfont.woff") format("woff"),
    url("/fonts/raleway_thin-webfont.otf") format("opentype"),
    url("/fonts/raleway_thin-webfont.svg") format("svg");
  }

body, html{
	height: 100%;
	margin: 0;
	background: #333;
	font-family: "raleway", sans-serif;
	overflow: hidden;
	font-size: 25px;
	color: red;
}

#canvas2,
#canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

#svg{
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
}

#header {
	z-index: 100;
	color: red;
	position: absolute;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
}

#header h1{
	display: inline-block;
	margin-left: 60px;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 100;
	text-transform:lowercase;
	line-height: 1em;
	cursor: pointer;
}

#login{
	display: inline-block;
	margin-top: 20px;
	color: red;
	line-height: 1em;
	top: 20px;
	left: 150px;
}

#login-buttons a.login-link-text{
	color: red;
	text-decoration:none;
	text-transform:lowercase;
	font-size: 1em;
}

#logo{
	position: absolute;
	width: 70px;
	height: 70px;
	cursor:pointer;
}

#tools{
	margin: 0;
	display:block;
	position: absolute;
	top: 10px;
	right: 10px;
	list-style: none;
	z-index: 20;
}

#tools li{
	display: inline-block;
	line-height: 1em;
	margin-left: 5px;
	cursor:pointer;
}

#tools li.tool{
	color: #333;
	background: red;
	height: 40px;
	width: 30px;
	line-height: 38px;
	padding: 0 0 0 10px;
	border-radius: 50%;
	font-size: 0.8em;

}

#tools li.selected,
#tools li.tool:hover{
	background: orange;
}

#selection_tools{
	display: none;
	position: absolute;
	z-index: 20;
	list-style: none;
	margin: 0;
}

#selection_tools li{
	display: block;
	float:left;
	background: #0592d9;
	color: white;
	padding: 7px 12px 10px 7px;
	font-size: 0.8em;
	line-height: 0.8;
	border-radius: 0 50% 50% 0;
	cursor: pointer;
}

